python_version >= "3.9"
torch 
numpy==1.22.2 
scikit-learn==1.0.1 
tqdm 
Levenshtein 
transformers==4.43.1
tensor_parallel 
accelerate 
pydantic==1.10.5 
inflect 
sentencepiece 
protobuf 
bitsandbytes
datasets
peft==0.9.0
pillow
latex